.table-container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-top: 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
}

.employee-table th {
  background: #0ea5e9;
  color: white;
  padding: 14px;
}

.employee-table td {
  padding: 14px;
  border-bottom: 1px solid #eee;
}

.employee-table tr:hover {
  background: #f8fafc;
}
button {
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
  margin: 2px;
}

button:hover {
  transform: scale(1.05);
}

.edit-btn {
  background: #3b82f6;
  color: white;
}

.delete-btn {
  background: #ef4444;
  color: white;
}
.employee-form {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 18px;
}

.employee-form input,
.employee-form select,
.employee-form textarea {
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
}

.employee-form button {
  grid-column: span 2;
  background: #0ea5e9;
  color: white;
  font-size: 16px;
}
.settings-page{
    padding:20px;
}

.settings-card{
    background:#fff;
    max-width:600px;
    padding:30px;
    border-radius:12px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.setting-item{
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
}

.setting-item label{
    font-weight:bold;
    margin-bottom:8px;
}

.setting-item input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
}

.save-btn{
    background:#0ea5e9;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
}

.save-btn:hover{
    background:#0284c7;
}