*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

.app{
    display:flex;
}

.sidebar{
    width:240px;
    min-height:100vh;
    background:#1f2937;
}

.logo{
    color:white;
    text-align:center;
    padding:25px;
}

.sidebar a{
    display:flex;
    align-items:center;
    gap:12px;
    color:white;
    text-decoration:none;
    padding:15px 25px;
    transition:.3s;
}

.sidebar a:hover,
.sidebar a.active{
    background:#009688;
}